<h1>Blog</h1>
<div class="row">
  <div class="large-6 columns">
    <input type="text" ng-model="postQuery" placeholder="Search posts">
  </div>
</div>
<div class="row">
  <div ng-repeat="post in posts | filter:postQuery">
    <div class="large-6 columns">
      <span class="label">
        {{ post.created | fromNow }}
      </span>
      <div class="panel">
        <h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
        <p>{{ post.short | limitTo:150 }}...</p>
        <span ng-repeat="tag in post.tags"><code>{{ tag }}</code></span>
      </div>
    </div>
  </div> 
</div>
