<div class="small-12 large-5 large-centered columns">
  <div class="panel">
    <h2>Jon de la Motte</h2>
    <table style="width:100%;">P
      <tr>
        <th>email</th>
        <td>jond@csgpro.com</td>
      </tr>
      <tr>
        <th>phone</th>
        <td>(503) 567-9197</td>
      </tr>
      <tr>
        <th>work address</th>
        <td>734 NW 14th Avenue<br>Portland, Oregon 97209</td>
      </tr>
    </table>
    <ul style="text-align:center;" class="small-block-grid-4">
      <li><a href="http://twitter.com/jondelamotte" class="fc-webicon twitter large">Twitter</a></li>
      <li><a href="http://open.spotify.com/user/jondlm" class="fc-webicon spotify large">Spotify</a></li>
      <li><a href="http://www.last.fm/user/jondlm" class="fc-webicon lastfm large">LastFm</a></li>
      <li><a href="https://github.com/jondlm" class="fc-webicon github large">GitHub</a></li>
    </ul>
  </div>
</div>
