<ul style="text-align:center;" class="small-block-grid-4">
  <li><a href="http://twitter.com/jondelamotte" class="fc-webicon twitter large">Twitter</a></li>
  <li><a href="http://open.spotify.com/user/jondlm" class="fc-webicon spotify large">Spotify</a></li>
  <li><a href="http://www.last.fm/user/jondlm" class="fc-webicon lastfm large">LastFm</a></li>
  <li><a href="https://github.com/jondlm" class="fc-webicon github large">GitHub</a></li>
</ul>
<br><br>
<div style="text-align:center;" class="row">
  <div class="small-6 columns">
    <h3>jond at csgpro.com</h3>
  </div>
  <div class="small-6 columns">
    <h3>(503) 567-9197</h3>
  </div>
</div>
