<script>
  var elements = document.querySelectorAll('.song');
  debugger;
  for (var i = elements.length - 1; i >= 0; i--) {
    debugger;
    Hammer(elements[i]).on("swiperight", function(event){
      alert('hello!');
    });
  };
</script>

<div class="row">
  <div class="small-12 columns">
    <h1 class="song">Real-time Music</h1>
    <p>This page shows, in real time, the music I'm listening to.</p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <table style="width:100%;">
      <thead>
        <th>Song</th>
        <th>Artist</th>
        <th>When</th>
        <th>Album Art</th>
      </thead>
    <tbody>
      <tr class="song" ng-repeat="song in songs.recenttracks.track">
        <td>
          <a href="{{song.url}}">{{ song.name }}</a>
        </td>
        <td>{{ song.artist['#text'] }}</td>
        <td alt="{{song.date['#text']}}">{{ song.date['#text'] | utcFromNow }}</td>
        <td style="text-align:center;">
          <img ng-src="{{song.image[0]['#text']}}" alt="Album art for {{ song.artist['#text'] }}">
        </td>
      </tr>
    </tbody>
    </table>   
    <small class="subheader">Courtesy of <a href="http://last.fm">last.fm</a></small><br> <br>
  </div>
</div>

